# CONTENT BASED RECOMMENDER
## BY DWI SMARADAHANA INDRALOKA
***

## Import Library

In [1]:
import pandas as pd

## Upload Dataset

In [2]:
data = pd.read_csv("Film1.csv")
data.head()

               Judul Film     Negara  Rating  Durasi   Genre  Tahun
0  Ada Apa dengan Cinta 2  Indonesia     7.4     123   Drama   2016
1                 Gundala  Indonesia     7.6     123  Action   2019
2              Dilan 1991  Indonesia     6.8     121   Drama   2019
3           Bumi Manusia   Indonesia     7.2     181   Drama   2019
4          Dua Garis Biru  Indonesia     8.2     113   Drama   2019

## Change Column "Judul Film" into Index

In [3]:
data.set_index("Judul Film", inplace = True)
data_ori = data
data.head()

                           Negara  Rating  Durasi   Genre  Tahun
Judul Film
Ada Apa dengan Cinta 2  Indonesia     7.4     123   Drama   2016
Gundala                 Indonesia     7.6     123  Action   2019
Dilan 1991              Indonesia     6.8     121   Drama   2019
Bumi Manusia            Indonesia     7.2     181   Drama   2019
Dua Garis Biru          Indonesia     8.2     113   Drama   2019

## Make Data Dummies

In [4]:
data = pd.get_dummies(data)
data.head()

,Rating,Durasi,Tahun,Negara_Indonesia,Negara_USA,Genre_Action,Genre_Adventure,Genre_Animation,Genre_Drama
Judul Film,,,,,,,,,
Ada Apa dengan Cinta 2,7.4,123,2016,1,0,0,0,0,1
Gundala,7.6,123,2019,1,0,1,0,0,0
Dilan 1991,6.8,121,2019,1,0,0,0,0,1
Bumi Manusia,7.2,181,2019,1,0,0,0,0,1
Dua Garis Biru,8.2,113,2019,1,0,0,0,0,1

## Normalize the Data Using MinMaxScaler

In [5]:
from sklearn.preprocessing import MinMaxScaler
data1 = data.transpose()
col = data.columns
scaler = MinMaxScaler().fit_transform(data)
data2 = pd.DataFrame(scaler, columns = col)
data2.head()

,Rating,Durasi,Tahun,Negara_Indonesia,Negara_USA,Genre_Action,Genre_Adventure,Genre_Animation,Genre_Drama
0,0.333333,0.147059,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0.444444,0.147059,1.0,1.0,0.0,1.0,0.0,0.0,0.0
2,0.000000,0.117647,1.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0.222222,1.000000,1.0,1.0,0.0,0.0,0.0,0.0,1.0
4,0.777778,0.000000,1.0,1.0,0.0,0.0,0.0,0.0,1.0

## Calculate Each Movie's Similarity Using Eucledian Similarity

In [6]:
from scipy.spatial import distance_matrix
data2 = data2.transpose()
data_euclid = pd.DataFrame(1 / (1 + distance_matrix(data2.T, data2.T)), columns = data1.columns, index = data1.columns)
data_euclid

Judul Film,Ada Apa dengan Cinta 2,Gundala,Dilan 1991,Bumi Manusia,Dua Garis Biru,Avengers: End Game,The Lion King,Aladdin,Spiderman: Far From Home,Captain Marvel
Judul Film,,,,,,,,,,
Ada Apa dengan Cinta 2,1.000000,0.365549,0.486736,0.431214,0.475250,0.286998,0.308311,0.308311,0.307805,0.307969
Gundala,0.365549,1.000000,0.402787,0.375037,0.406440,0.364637,0.331067,0.331067,0.412999,0.407670
Dilan 1991,0.486736,0.402787,1.000000,0.523586,0.559715,0.293784,0.332511,0.332273,0.324775,0.332967
Bumi Manusia,0.431214,0.375037,0.523586,1.000000,0.466427,0.317873,0.312026,0.317740,0.315756,0.314750
Dua Garis Biru,0.475250,0.406440,0.559715,0.466427,1.000000,0.307969,0.323355,0.322281,0.330467,0.321202
Avengers: End Game,0.286998,0.364637,0.293784,0.317873,0.307969,1.000000,0.346634,0.354972,0.530650,0.448044
The Lion King,0.308311,0.331067,0.332511,0.312026,0.323355,0.346634,1.000000,0.412909,0.403942,0.413700
Aladdin,0.308311,0.331067,0.332273,0.317740,0.322281,0.354972,0.412909,1.000000,0.405386,0.413700
Spiderman: Far From Home,0.307805,0.412999,0.324775,0.315756,0.330467,0.530650,0.403942,0.405386,1.000000,0.688175
Captain Marvel,0.307969,0.407670,0.332967,0.314750,0.321202,0.448044,0.413700,0.413700,0.688175,1.000000

## Calculate Each Movie's Similarity Using Cosine Similarity

In [7]:
from sklearn.metrics.pairwise import cosine_similarity
data_cosine = cosine_similarity(data2.transpose())
data_cosine = pd.DataFrame(data_cosine, columns = data1.columns, index = data1.columns)
data_cosine

Judul Film,Ada Apa dengan Cinta 2,Gundala,Dilan 1991,Bumi Manusia,Dua Garis Biru,Avengers: End Game,The Lion King,Aladdin,Spiderman: Far From Home,Captain Marvel
Judul Film,,,,,,,,,,
Ada Apa dengan Cinta 2,1.000000,0.446439,0.795686,0.755808,0.814795,0.147110,0.026094,0.034353,0.082055,0.023062
Gundala,0.446439,1.000000,0.647649,0.622028,0.688571,0.645945,0.347188,0.351610,0.693305,0.662682
Dilan 1991,0.795686,0.647649,1.000000,0.892426,0.910148,0.287912,0.333604,0.336932,0.322753,0.336421
Bumi Manusia,0.755808,0.622028,0.892426,1.000000,0.830433,0.493865,0.316884,0.356314,0.368143,0.334299
Dua Garis Biru,0.814795,0.688571,0.910148,0.830433,1.000000,0.418739,0.341616,0.339206,0.411240,0.328506
Avengers: End Game,0.147110,0.645945,0.287912,0.493865,0.418739,1.000000,0.575243,0.608681,0.924322,0.836533
The Lion King,0.026094,0.347188,0.333604,0.316884,0.341616,0.575243,1.000000,0.669125,0.660515,0.668956
Aladdin,0.034353,0.351610,0.336932,0.356314,0.339206,0.608681,0.669125,1.000000,0.666612,0.671316
Spiderman: Far From Home,0.082055,0.693305,0.322753,0.368143,0.411240,0.924322,0.660515,0.666612,1.000000,0.969200
Captain Marvel,0.023062,0.662682,0.336421,0.334299,0.328506,0.836533,0.668956,0.671316,0.969200,1.000000

***
Based on the results above, we choose to use Cosine Similarity, because the results that obtained from Cosine Similarity provide a better distribution compared to Eucledian Similarity.
***

## Modelling Content Based Recommender

## 1. Content Based Recommender Using "Rating" and "Genre"

### 1.1 Make New Data With Coumns "Rating" and "Genre"

In [8]:
column = ["Rating", "Genre"]
data_rg = data_ori[column]
data_rg.head()

                        Rating   Genre
Judul Film
Ada Apa dengan Cinta 2     7.4   Drama
Gundala                    7.6  Action
Dilan 1991                 6.8   Drama
Bumi Manusia               7.2   Drama
Dua Garis Biru             8.2   Drama

### 1.2 Make Data Dummies

In [9]:
data_rg = pd.get_dummies(data_rg)
data_rg.head()

,Rating,Genre_Action,Genre_Adventure,Genre_Animation,Genre_Drama
Judul Film,,,,,
Ada Apa dengan Cinta 2,7.4,0,0,0,1
Gundala,7.6,1,0,0,0
Dilan 1991,6.8,0,0,0,1
Bumi Manusia,7.2,0,0,0,1
Dua Garis Biru,8.2,0,0,0,1

### 1.3 Normalize the Data Using MinMaxScaler

In [10]:
from sklearn.preprocessing import MinMaxScaler
col1 = data_rg.columns
scaler = MinMaxScaler().fit_transform(data_rg)
data_rg = pd.DataFrame(scaler, columns = col1)
data_rg.head()

     Rating  Genre_Action  Genre_Adventure  Genre_Animation  Genre_Drama
0  0.333333           0.0              0.0              0.0          1.0
1  0.444444           1.0              0.0              0.0          0.0
2  0.000000           0.0              0.0              0.0          1.0
3  0.222222           0.0              0.0              0.0          1.0
4  0.777778           0.0              0.0              0.0          1.0

### 1.4 Calculate Each Movie's Similarity Using Cosine Similarity

In [11]:
from sklearn.metrics.pairwise import cosine_similarity
data_cosine1 = cosine_similarity(data_rg)
data_cosine1 = pd.DataFrame(data_cosine1, columns = data1.columns, index = data1.columns)
data_cosine1

Judul Film,Ada Apa dengan Cinta 2,Gundala,Dilan 1991,Bumi Manusia,Dua Garis Biru,Avengers: End Game,The Lion King,Aladdin,Spiderman: Far From Home,Captain Marvel
Judul Film,,,,,,,,,,
Ada Apa dengan Cinta 2,1.000000,0.128432,0.948683,0.994692,0.942990,0.223607,0.051988,0.051988,0.153574,0.034922
Gundala,0.128432,1.000000,0.000000,0.088104,0.249345,0.933346,0.066769,0.066769,0.996053,0.953073
Dilan 1991,0.948683,0.000000,1.000000,0.976187,0.789352,0.000000,0.000000,0.000000,0.000000,0.000000
Bumi Manusia,0.994692,0.088104,0.976187,1.000000,0.903738,0.153393,0.035663,0.035663,0.105351,0.023956
Dua Garis Biru,0.942990,0.249345,0.789352,0.903738,1.000000,0.434122,0.100931,0.100931,0.298156,0.067798
Avengers: End Game,0.223607,0.933346,0.000000,0.153393,0.434122,1.000000,0.116248,0.116248,0.961524,0.780869
The Lion King,0.051988,0.066769,0.000000,0.035663,0.100931,0.116248,1.000000,0.027027,0.079839,0.018155
Aladdin,0.051988,0.066769,0.000000,0.035663,0.100931,0.116248,0.027027,1.000000,0.079839,0.018155
Spiderman: Far From Home,0.153574,0.996053,0.000000,0.105351,0.298156,0.961524,0.079839,0.079839,1.000000,0.922441
Captain Marvel,0.034922,0.953073,0.000000,0.023956,0.067798,0.780869,0.018155,0.018155,0.922441,1.000000

### 1.5 Get Recommendation If We Like "Dilan 1991"

In [12]:
data_nama = pd.DataFrame(data_cosine1.loc["Dilan 1991"].sort_values(ascending = False))
data_nama.iloc[1:4]

                        Dilan 1991
Judul Film
Bumi Manusia              0.976187
Ada Apa dengan Cinta 2    0.948683
Dua Garis Biru            0.789352

### 1.6 Get Recommendation If We Like "Gundala"

In [13]:
data_nama = pd.DataFrame(data_cosine1.loc["Gundala"].sort_values(ascending = False))
data_nama.iloc[1:4]

                           Gundala
Judul Film
Spiderman: Far From Home  0.996053
Captain Marvel            0.953073
Avengers: End Game        0.933346

***
Based on the results above, the recommended movies if we like "Dilan 1991" are Bumi Manusia, Ada Apa dengan Cinta 2 and Dua Garis Biru and the recommended movies if we like "Gundala" are Spiderman: Far From Home, Captain Marvel and Avengers: End Game.
***

## 2. Content Based Recommender Using "Negara", "Rating" and "Durasi"

### 2.1 Make New Data With Coumns "Negara", "Rating" and "Durasi"

In [14]:
column = ["Negara", "Rating", "Durasi"]
data_rg = data_ori[column]
data_rg.head()

                           Negara  Rating  Durasi
Judul Film
Ada Apa dengan Cinta 2  Indonesia     7.4     123
Gundala                 Indonesia     7.6     123
Dilan 1991              Indonesia     6.8     121
Bumi Manusia            Indonesia     7.2     181
Dua Garis Biru          Indonesia     8.2     113

### 2.2 Make Data Dummies

In [15]:
data_rg = pd.get_dummies(data_rg)
data_rg.head()

                        Rating  Durasi  Negara_Indonesia  Negara_USA
Judul Film
Ada Apa dengan Cinta 2     7.4     123                 1           0
Gundala                    7.6     123                 1           0
Dilan 1991                 6.8     121                 1           0
Bumi Manusia               7.2     181                 1           0
Dua Garis Biru             8.2     113                 1           0

### 2.3 Normalize the Data Using MinMaxScaler

In [16]:
from sklearn.preprocessing import MinMaxScaler
col1 = data_rg.columns
scaler = MinMaxScaler().fit_transform(data_rg)
data_rg = pd.DataFrame(scaler, columns = col1)
data_rg.head()

     Rating    Durasi  Negara_Indonesia  Negara_USA
0  0.333333  0.147059               1.0         0.0
1  0.444444  0.147059               1.0         0.0
2  0.000000  0.117647               1.0         0.0
3  0.222222  1.000000               1.0         0.0
4  0.777778  0.000000               1.0         0.0

### 2.4 Calculate Each Movie's Similarity Using Cosine Similarity

In [17]:
from sklearn.metrics.pairwise import cosine_similarity
data_cosine1 = cosine_similarity(data_rg)
data_cosine1 = pd.DataFrame(data_cosine1, columns = data1.columns, index = data1.columns)
data_cosine1

Judul Film,Ada Apa dengan Cinta 2,Gundala,Dilan 1991,Bumi Manusia,Dua Garis Biru,Avengers: End Game,The Lion King,Aladdin,Spiderman: Far From Home,Captain Marvel
Judul Film,,,,,,,,,,
Ada Apa dengan Cinta 2,1.000000,0.995423,0.949292,0.801469,0.933945,0.260598,0.061349,0.079689,0.176819,0.054206
Gundala,0.995423,1.000000,0.915029,0.788162,0.962016,0.309291,0.075635,0.092978,0.218305,0.063245
Dilan 1991,0.949292,0.915029,1.000000,0.775369,0.783946,0.067458,0.008452,0.024842,0.023540,0.016898
Bumi Manusia,0.801469,0.788162,0.775369,1.000000,0.646693,0.492922,0.075984,0.173453,0.214572,0.117986
Dua Garis Biru,0.933945,0.962016,0.783946,0.646693,1.000000,0.354459,0.100667,0.098624,0.292042,0.067086
Avengers: End Game,0.260598,0.309291,0.067458,0.492922,0.354459,1.000000,0.704435,0.771972,0.885300,0.714372
The Lion King,0.061349,0.075635,0.008452,0.075984,0.100667,0.704435,1.000000,0.989957,0.934941,0.995892
Aladdin,0.079689,0.092978,0.024842,0.173453,0.098624,0.771972,0.989957,1.000000,0.944521,0.996177
Spiderman: Far From Home,0.176819,0.218305,0.023540,0.214572,0.292042,0.885300,0.934941,0.944521,1.000000,0.923164
Captain Marvel,0.054206,0.063245,0.016898,0.117986,0.067086,0.714372,0.995892,0.996177,0.923164,1.000000

### 2.5 Get Recommendation If We Like "Aladdin"

In [18]:
data_nama = pd.DataFrame(data_cosine1.loc["Aladdin"].sort_values(ascending = False))
data_nama.iloc[1:4]

                           Aladdin
Judul Film
Captain Marvel            0.996177
The Lion King             0.989957
Spiderman: Far From Home  0.944521

### 2.6 Get Recommendation If We Like "Dua Garis Biru"

In [19]:
data_nama = pd.DataFrame(data_cosine1.loc["Dua Garis Biru"].sort_values(ascending = False))
data_nama.iloc[1:4]

                        Dua Garis Biru
Judul Film
Gundala                       0.962016
Ada Apa dengan Cinta 2        0.933945
Dilan 1991                    0.783946

***
Based on the results above, the recommended movies if we like "Aladdin" are Captain Marvel, The Lion King and Spiderman: Far From Home and the recommended movies if we like "Dua Garis Biru" are Gundala, Ada Apa dengan Cinta 2 and Dilan 1991.
***

## Conclusion

Content Based Recomendation's results are highly dependent on the variables that we use for calculating the similarity and the input that we enter, in the case above the input is the title of the movies. In the real case, we can apply this algorithm to display the movies recommendation on a movie website when someone has searched for a movie on the website.

***
# THANK YOU